.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 300px;
}

.App-meme {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFFFFF;
  height: 150px;
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.Search{
  padding-top: 12%;
}
.searchButton:hover {
    background-color: red; 
    color: white;
    border-radius: 8px;
  }


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/*Start page css*/
.carousel{
  margin-top: 25px;
}
.carouselSlider div{
  border-color: white;
  border-width:15px;
  text-align: center;
}
.carouselSlider div :hover {
    border-color: #EDEDED;
}
.searchBox{
  margin-top: 20px;
}
img{
  height: 50px;
}