.summary{
  margin-top: 30px;
}
.demoCol1{
  background-color: red;
}
.demoCol2{
  text-align: right;
}
.title{
  font-size: 50px
}
.chartsOne{
  background-color: white;
}
.chartsTwo{
  background-color: white;
}
.chartsThree{
  background-color: white;
}
.demoPhotos{
  background-color: white;
}

.actualChart1{
  background-color: white;
}
.actualChart2{
  background-color: white;
}
.actualChart3{
  background-color: white;
}
.actualImg1{
  width: 50%;
  height: 50%;
  align-self: auto;
}
.actualImg2{
  width: 50%;
  height: 50%;
  align-self: auto;
}