.summary{
  margin-top: 30px;
}
.demoCol1{
  background-color: red;
}
.demoCol2{
  text-align: right;
}
.title{
  font-size: 50px
}
.chartsOne{
  background-color: yellow;
}
.chartsTwo{
  background-color: green;
}
.chartsThree{
  background-color: orange;
}
.demoPhotos{
  background-color: blue;
}

.actualChart1{
  background-color: black;
}
.actualChart2{
  background-color: blue;
}
.actualChart3{
  background-color: orange;
}