.loading{
  align-self: center;
  padding-top: 25%;  
}
.startPage{
  background: rgba(0, 0, 0, .7);
  opacity: 1;
  box-shadow: 5px 5px 10px 5px black;
  align-self: center;
  padding: 2%;
  position: absolute; 
  top: 25%;
  left: 25%;
}
.searchBox{
  /* padding: 2%; */
  width:100%;
  height:100%;
  position: relative;
  /* border:  */
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, .7);
  opacity: 1;
  box-shadow: 5px 5px 10px 5px black;
} 
.teamInfo{
  padding-top: 50px;
  text-align: center;
  font-size: medium
}

.image {
  display  : none;
  height: 100%;
  width: 100%; 
  background-size: 100%;
  background: center center no-repeat fixed;

}

.idek {
  background: url('https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg') 0 0 / cover; 
  background-size: 100%;
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; 
}
