/* Colour the Material Icons */
.material-icons{
	font-size: 70px;
}

.bus{
	color: #00B5EF;	
}
.train{
	color:#F6891F;
}
.ferry{
	color:#5AB031;
}
.lightrail{
	color:#EE343F;
}
.material-icons.close {
  color: red;
  opacity: 100;
  float: none;
}
.material-icons.done {
  color: green;
  opacity: 100;
}

.wiki {
	margin-top: 30px;
	font-size: 20px;
	min-height: 280px;
	padding-bottom: 5%;
}
.suburbName{
	margin-top: 5%;
	font-size: 50px;
}

.weatherCol{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	position: relative;
	align-content: center;
	justify-content: center;
	zoom: 0.5;

}
.weatherName{
	padding-top: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: 10%;
	position: relative;
}
.weather-main {
	grid-column: 1/2;
	/* autoprefixer: off */
	grid-row: 1/3;
	zoom: 2;
}

.distancesCol{
	position: relative;
	font-size: 20px;
}
.transportCol{
	font-size: 20px;
	text-align: center;
}

.trip{
	margin-left: 10%;
    margin-top: 3%;
}
.map{
	align-content: center;
	width: 100%;
	margin-top: 5%;	
	margin-left: 6%;
	margin-bottom: 5%;
}
.everything{
	margin-left: 30px;
}